* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(at top right, lightcyan, lightblue);
}

.container {
  height: 30rem;
  width: 20rem;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

#input {
  height: 3rem;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 10px;
  margin-bottom: 1rem;
}

ul li {
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 5px;
  list-style: none;
  position: relative;
}

ul .fa-check,
.fa-trash {
  position: absolute;
  cursor: pointer;
}

ul .fa-check {
  right: 40px;
  color: green;
}

ul .fa-trash {
  right: 15px;
  color: black;
}

.checked {
  background: lime;
  text-decoration: line-through;
  transition: 0.3s;
}
